<div class="section-title" th:fragment="_quotationTourPackages" th:style="${manualConfigurationEntity.packagesStartNewPage  ? 'padding:0px;page-break-inside: avoid;page-break-before:always;' : 'padding:0px;page-break-inside: avoid'} ">
    <p>Tour Packages Section</p>
</div>

<div th:fragment="_quotationTourPackages2" >
        <th:block th:each="tourPackagesObj,iterator : ${TourPackagesVOList}" >
       <table class="services">
        <span th:if="${#lists.size(TourPackagesVOList)} > 1">
            <tr><td colspan="8">Package [[${iterator.index + 1 }]]</td></tr>
        </span>
        <tr style="page-break-inside: avoid">
            <th style="">City</th>
            <th style="width:15%;">Package Name</th>
            <th style="width:10%;">Start Date</th>
            <th style="width:10%;">End Date</th>
            <th style="">Adult</th>
            <th style="">Children</th>
            <th style="">Infant</th>
            <th style="width:10%;">Flights Included</th>
        </tr>

        <tr style="page-break-inside: avoid">
            <td th:text="${tourPackagesObj.cityName}"> </td>
            <td th:text="${tourPackagesObj.packageName}"> </td>
            <td th:text="${#dates.format(tourPackagesObj.startDate, 'dd-MM-yyyy')}"> </td>
            <td th:text="${#dates.format(tourPackagesObj.endDate, 'dd-MM-yyyy')}"> </td>
            <td th:text="${tourPackagesObj.adults}"> </td>
            <td th:text="${tourPackagesObj.children}"> </td>
            <td th:text="${tourPackagesObj.infant}"> </td>
            <td th:text="${tourPackagesObj.flightIncluded}"> </td>
        </tr>
       </table>

       <span th:if="${not #strings.isEmpty(tourPackagesObj.packageDescription)}">
       <table class="services">
        <tr>
            <th style="text-align:center;page-break-inside: avoid;" colspan="8">Package Description</th>
        </tr>
        <tr>
            <td style="text-align:left;white-space: pre-line" colspan="8" >[[${tourPackagesObj.packageDescription}]]</td>
        </tr>
       </table>
       </span>

       <span th:if="${not #strings.isEmpty(tourPackagesObj.inclusions)}">
       <table class="services">
           <tr>
            <th style="text-align:center;page-break-inside: avoid;" colspan="8">Inclusions</th>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="text-align:left;white-space: pre-line" colspan="8" >[[${tourPackagesObj.inclusions}]]</td>
        </tr>
       </table>
       </span>

       <span th:if="${not #strings.isEmpty(tourPackagesObj.exclusions)}">
       <table class="services">
        <tr>
            <th style="text-align:center;page-break-inside: avoid;" colspan="8">Exclusions</th>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td style="text-align:left;white-space: pre-line" colspan="8" >[[${tourPackagesObj.exclusions}]]</td>
        </tr>
       </table>
       </span>

       <span th:if="${not #strings.isEmpty(tourPackagesObj.cancellationPolicy)}">
       <table class="services">
        <tr style="page-break-inside: avoid;">
            <th style="text-align:center;page-break-inside: avoid;" colspan="8">Land Package Cancellation Policy</th>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td colspan="8" style="text-align:left;white-space: pre-line">[[${tourPackagesObj.cancellationPolicy}]]</td>
        </tr>
       </table>
       </span>

       <span th:if="${not #strings.isEmpty(tourPackagesObj.remarks)}">
       <table class="services">
        <tr style="page-break-inside: avoid;">
            <th style="text-align:center;page-break-inside: avoid;" colspan="8">Remarks</th>
        </tr>
        <tr style="page-break-inside: avoid;">
            <td colspan="8" style="text-align:left;white-space: pre-line">[[${tourPackagesObj.remarks}]]</td>
        </tr>
       </table>
       </span>
        </th:block>

    <br/>
    <span th:if="${manualConfigurationEntity.packageCancellationPolicyDisplay } ">
        <table class="services" style="page-break-inside: avoid">
            <tr style="page-break-inside: avoid">
                <th style="">Other Important Information</th>
            </tr>
            <tr style="page-break-inside: avoid">
                <td style="text-align:left;"><pre>[[${manualConfigurationEntity.packageCancellationPolicy}]]</pre></td>
            </tr>
        </table>

    </span>
    <hr/>
</div>


