<div class="section-title" th:fragment="_quotationHotels" th:style="${manualConfigurationEntity.hotelStartNewPage  ? 'padding:0px;page-break-inside: avoid;page-break-before:always;' : 'padding:0px;page-break-inside: avoid'} ">
    <p>Hotels</p>
</div>

<div th:fragment="_quotationHotels2" >
    <th:block th:each="hotelOption,iterator: ${mapHotelOptionsList}" >
        <div class="section-title" th:if="${#maps.size(mapHotelOptionsList)} > 1">
            <p>Hotel Option [[${hotelOption.key }]]</p>
        </div>
        <table class="services" style="page-break-inside: avoid">
            <tr style="page-break-inside: avoid">
                <th style="width:10%;">City</th>
                <th style="width:23%;">Hotel Name</th>
                <th style="width:13%;">Room Type</th>
                <th style="width:10%;">Check In</th>
                <th style="width:10%;">Check Out</th>
                <th style="width:10%;">Meal</th>
                <th style="width:10%;">Guests</th>
                <th style="width:7%;">E.Bed</th>
                <th style="width:7%;">Rooms</th>
            </tr>

            <th:block th:each="hotelObj : ${hotelOption.value}" >
            <tr style="page-break-inside: avoid">
                <td th:text="${hotelObj.cityName}"> </td>
                <td th:text="${hotelObj.hotelName}"> </td>
                <td th:text="${hotelObj.roomCategoryName}"> </td>
                <td th:text="${hotelObj.formattedCheckInDate}"> </td>
                <td th:text="${hotelObj.formattedCheckOutDate}"> </td>
                <td th:text="${hotelObj.mealPlanName}"> </td>
                <td th:text="${hotelObj.adults} + ' A | ' +  ${hotelObj.children} + ' C'"> </td>
                <td th:text="${hotelObj.extrabed}"> </td>
                <td th:text="${hotelObj.noOfRooms}"> </td>
            </tr>
            <tr th:if="${not #strings.isEmpty(hotelObj.remarks)}" style="page-break-inside: avoid">
                <td colspan="9">[[${hotelObj.remarks}]]</td>
            </tr>
            </th:block>
        </table>
        <br/>
    </th:block>
    <span th:if="${manualConfigurationEntity.hotelCancellationPolicyDisplay } ">
        <table class="services" style="page-break-inside: avoid">
            <tr style="page-break-inside: avoid">
                <th style="">Hotel Remarks</th>
            </tr>
            <tr style="page-break-inside: avoid">
                <td style="text-align:left;"><pre>[[${manualConfigurationEntity.hotelCancellationPolicy}]]</pre></td>
            </tr>
        </table>

    </span>
    <hr/>
</div>


