<div class="section-title" th:fragment="_quotationCruise" th:style="${manualConfigurationEntity.cruiseStartNewPage  ? 'padding:0px;page-break-inside: avoid;page-break-before:always;' : 'padding:0px;page-break-inside: avoid'} ">
    <p>Cruise</p>
</div>



<div th:fragment="_quotationCruise2" >
    <table class="services" style="page-break-inside: avoid">
        <tr style="page-break-inside: avoid">
            <th style="">City</th>
            <th style="">Cruise Name</th>
            <th style="">State Room Type</th>
            <th style="">Start Date</th>
            <th style="">End Date </th>
            <th style="">Adults</th>
            <th style="">Children</th>
            <th style="">Children Age</th>
            <th style="">Decks</th>
        </tr>

        <th:block th:each="cruiseObj : ${CruiseVOList}" >
        <tr style="page-break-inside: avoid">
            <td th:text="${cruiseObj.cityName}"> </td>
            <td th:text="${cruiseObj.cruiseName}"> </td>
            <td th:text="${cruiseObj.stateRoomName}"> </td>
            <td th:text="${#dates.format(cruiseObj.sailingStartDate, 'dd-MM-yyyy')}"> </td>
            <td th:text="${#dates.format(cruiseObj.sailingEndDate, 'dd-MM-yyyy')}"> </td>
            <td th:text="${cruiseObj.adults}"> </td>
            <td th:text="${cruiseObj.children}"> </td>
            <td th:text="${cruiseObj.childrenAgeInfo}"> </td>
            <td th:text="${cruiseObj.noOfDecks}"> </td>
        </tr>
        <tr th:if="${not #strings.isEmpty(cruiseObj.remarks)}" style="page-break-inside: avoid">
            <td colspan="9">[[${cruiseObj.remarks}]]</td>
        </tr>
        </th:block>
    </table>
    <br/>
    <span th:if="${manualConfigurationEntity.cruiseCancellationPolicyDisplay } ">
        <table class="services" style="page-break-inside: avoid">
            <tr style="page-break-inside: avoid">
                <th style="">Cruise Remarks</th>
            </tr>
            <tr style="page-break-inside: avoid">
                <td style="text-align:left;"><pre>[[${manualConfigurationEntity.cruiseCancellationPolicy}]]</pre></td>
            </tr>
        </table>

    </span>
    <hr/>
</div>


