<div class="header" th:fragment="_quotationVisa" th:style="${manualConfigurationEntity.visaStartNewPage  ? 'padding:0px;page-break-inside: avoid;page-break-before:always;' : 'padding:0px;page-break-inside: avoid'} ">
    <p align="center">Visa Section</p>
</div>

<div th:fragment="_quotationVisa2" >
    <table class="services" style="page-break-inside: avoid">
        <tr style="page-break-inside: avoid">
            <th style="background-color:#921A0E;">Visa Country</th>
            <th style="background-color:#921A0E;">Consulate</th>
            <th style="background-color:#921A0E;">Adults</th>
            <th style="background-color:#921A0E;">Children</th>
            <th style="background-color:#921A0E;">Infants</th>
        </tr>

        <th:block th:each="visaObj : ${VisaVOList}" >
        <tr style="page-break-inside: avoid">
            <td th:text="${visaObj.visaCountry}"> </td>
            <td th:text="${visaObj.visaConsulate}"> </td>
            <td th:text="${visaObj.adults}"> </td>
            <td th:text="${visaObj.children}"> </td>
            <td th:text="${visaObj.infant}"> </td>
        </tr>
        <tr th:if="${not #strings.isEmpty(visaObj.remarks)}" style="page-break-inside: avoid">
            <td colspan="9">[[${visaObj.remarks}]]</td>
        </tr>
        </th:block>
    </table>
    <br/>
    <span th:if="${manualConfigurationEntity.visaCancellationPolicyDisplay } ">
        <table class="services" style="page-break-inside: avoid">
            <tr style="page-break-inside: avoid">
                <th style="background-color:#921A0E;">Visa Remarks</th>
            </tr>
            <tr style="page-break-inside: avoid">
                <td style="text-align:left;"><pre>[[${manualConfigurationEntity.visaCancellationPolicy}]]</pre></td>
            </tr>
        </table>

    </span>
    <hr/>
</div>


