<div class="section-title" th:fragment="_quotationCosting" th:style="${manualConfigurationEntity.costingStartNewPage  ? 'padding:0px;page-break-inside: avoid;page-break-before:always;' : 'padding:0px;page-break-inside: avoid'} ">
    <hr/>
    <p>Costing Section</p>
    <hr/>
</div>

<div th:fragment="_quotationCosting2" >



    <span th:if="${manualConfigurationEntity.flightSeperateCostDisplay} and ${not manualConfigurationEntity.flightGstBreakup}">
        <table class="services" style="page-break-inside: avoid">
            <tr style="page-break-inside: avoid">
                <th style="width:50%;">Flight Cost </th>
                <td th:text="'INR ' + ${COSTING_OBJ.flightTotalCost + COSTING_OBJ.flightTotalMarkup} "> </td>
            </tr>
        </table>
        <br/><br/>
    </span>

    <span th:if="${manualConfigurationEntity.flightSeperateCostDisplay} and ${manualConfigurationEntity.flightGstBreakup}">
        <div class="section-title"><p>Flight Cost</p></div>
<table class="services" style="page-break-inside: avoid">
            <tr style="page-break-inside: avoid">
                <th>Flight Cost </th><td th:text="'INR ' + ${COSTING_OBJ.flightTotalCost} "> </td>
                <th>Taxable Value </th><td th:text="'INR ' + ${COSTING_OBJ.flightTotalMarkup*100/118} "> </td>
                <th>Tax Amount </th><td th:text="'INR ' + ${COSTING_OBJ.flightTotalMarkup - ( COSTING_OBJ.flightTotalMarkup*100/118)} "> </td>
            </tr>
            <tr>
                <th colspan="3">Total Flight Cost </th><td colspan="3" th:text="'INR ' + ${COSTING_OBJ.flightTotalCost + COSTING_OBJ.flightTotalMarkup} "> </td>
            </tr>
        </table>
        <br/><br/>
    </span>

    <span th:if="${manualConfigurationEntity.hotelSeperateCostDisplay} and ${not manualConfigurationEntity.hotelGstBreakup}">
    <span th:if="${#maps.size(COSTING_OBJ.hotelOptionsWithCostAndMarkup)} > 1">
    <div class="section-title"><p>Hotel Cost</p></div>
<table class="services" style="page-break-inside: avoid">
        <th:block th:each="costObj : ${COSTING_OBJ.hotelOptionsWithCostAndMarkup}" >
        <tr style="page-break-inside: avoid">
            <th style="width:50%;">Hotel Cost Option [[${costObj.key}]]</th>
            <td th:text="'INR ' + ${costObj.value } "> </td>
        </tr>
    </th:block>
    </table>
        <br/><br/>
  </span>
    <span th:if="${#maps.size(COSTING_OBJ.hotelOptionsWithCostAndMarkup)} <= 1">
    <div class="section-title"><p>Hotel Cost</p></div>
<table class="services" style="page-break-inside: avoid">
        <th:block th:each="costObj : ${COSTING_OBJ.hotelOptionsWithCostAndMarkup}" >
        <tr style="page-break-inside: avoid">
            <th style="width:50%;">Hotel Cost </th>
            <td th:text="'INR ' + ${costObj.value} "> </td>
        </tr>
    </th:block>
    </table>
        <br/><br/>
  </span>
  </span>

  <span th:if="${manualConfigurationEntity.hotelSeperateCostDisplay} and ${manualConfigurationEntity.hotelGstBreakup}">
  <span th:if="${#maps.size(COSTING_OBJ.hotelOptionsWithCostAndMarkup)} > 1">
   <div class="section-title"><p>Hotel Cost</p></div>
<table class="services" style="page-break-inside: avoid">
        <th:block th:each="costObj : ${COSTING_OBJ.hotelOptionsWithCostAndMarkup}" >
        <tr style="page-break-inside: avoid">
            <th style="">Hotel Cost Option [[${costObj.key}]] </th><td th:text="'INR ' + ${costObj.value - COSTING_OBJ.hotelOptionsWithMarkup.get(costObj.key)} "> </td>
            <th style="">Taxable Value</th> <td th:text="'INR ' + ${COSTING_OBJ.hotelOptionsWithMarkup.get(costObj.key)*100/118} "> </td>
            <th style="">Tax Amount</th> <td th:text="'INR ' + ${COSTING_OBJ.hotelOptionsWithMarkup.get(costObj.key) - COSTING_OBJ.hotelOptionsWithMarkup.get(costObj.key)*100/118} "> </td>
        </tr>
        <tr>
            <th style="" colspan="3">Total Hotel Cost Option [[${costObj.key}]] </th><td colspan="3" th:text="'INR ' + ${costObj.value} "> </td>
        </tr>
            <tr><td colspan="6">&nbsp;</td></tr>
    </th:block>
    </table>
    <br/><br/>
  </span>
    <span th:if="${#maps.size(COSTING_OBJ.hotelOptionsWithCostAndMarkup)} <= 1">
    <div class="section-title"><p>Hotel Cost</p></div>
<table class="services" style="page-break-inside: avoid">
        <th:block th:each="costObj : ${COSTING_OBJ.hotelOptionsWithCostAndMarkup}" >
        <tr style="page-break-inside: avoid">
            <th >Hotel Cost </th><td th:text="'INR ' + ${costObj.value - COSTING_OBJ.hotelOptionsWithMarkup.get(costObj.key)} "> </td>
            <th >Taxable Value</th> <td th:text="'INR ' + ${COSTING_OBJ.hotelOptionsWithMarkup.get(costObj.key)*100/118} "> </td>
            <th >Tax Amount</th> <td th:text="'INR ' + ${COSTING_OBJ.hotelOptionsWithMarkup.get(costObj.key) - COSTING_OBJ.hotelOptionsWithMarkup.get(costObj.key)*100/118} "> </td>
        </tr>
        <tr>
            <th colspan="3">Total Hotel Cost </th><td colspan="3" th:text="'INR ' + ${costObj.value} "> </td>
        </tr>

    </th:block>
    </table>
        <br/><br/>
  </span>
  </span>

    <span th:if="${manualConfigurationEntity.cruiseSeperateCostDisplay} and ${not manualConfigurationEntity.cruiseGstBreakup}">
        <div class="section-title"><p>Cruise Cost</p></div>
<table class="services" style="page-break-inside: avoid">
            <tr style="page-break-inside: avoid">
                <th style="width:50%;">Cruise Cost </th>
                <td th:text="'INR ' + ${COSTING_OBJ.cruiseTotalCost + COSTING_OBJ.cruiseTotalMarkup} "> </td>
            </tr>
        </table>
        <br/><br/>
    </span>

    <span th:if="${manualConfigurationEntity.cruiseSeperateCostDisplay} and ${manualConfigurationEntity.cruiseGstBreakup}">
        <div class="section-title"><p>Cruise Cost</p></div>
<table class="services" style="page-break-inside: avoid">
            <tr style="page-break-inside: avoid">
                <th style="">Cruise Cost </th><td th:text="'INR ' + ${COSTING_OBJ.cruiseTotalCost} "> </td>
                <th style="">Taxable Value </th><td th:text="'INR ' + ${COSTING_OBJ.cruiseTotalMarkup*100/118} "> </td>
                <th style="">Tax Amount </th><td th:text="'INR ' + ${COSTING_OBJ.cruiseTotalMarkup - ( COSTING_OBJ.cruiseTotalMarkup*100/118)} "> </td>
            </tr>
            <tr>
                <th style="" colspan="3">Total Cruise Cost </th><td colspan="3" th:text="'INR ' + ${COSTING_OBJ.cruiseTotalCost + COSTING_OBJ.cruiseTotalMarkup} "> </td>
            </tr>
        </table>
        <br/><br/>
    </span>


    <span th:if="${manualConfigurationEntity.sightSeeingSeperateCostDisplay} and ${not manualConfigurationEntity.sightSeeingGstBreakup}">
        <div class="section-title"><p>Sight Seeing Cost</p></div>
<table class="services" style="page-break-inside: avoid">
            <tr style="page-break-inside: avoid">
                <th style="width:50%;">Sight Seeing Cost </th>
                <td th:text="'INR ' + ${COSTING_OBJ.sightSeeingTotalCost + COSTING_OBJ.sightSeeingTotalMarkup} "> </td>
            </tr>
        </table>
        <br/><br/>
    </span>

    <span th:if="${manualConfigurationEntity.sightSeeingSeperateCostDisplay} and ${manualConfigurationEntity.sightSeeingGstBreakup}">
        <div class="section-title"><p>Sight Seeing Cost</p></div>
<table class="services" style="page-break-inside: avoid">
            <tr style="page-break-inside: avoid">
                <th style="">Sight Seeing Cost </th><td th:text="'INR ' + ${COSTING_OBJ.sightSeeingTotalCost} "> </td>
                <th style="">Taxable Value </th><td th:text="'INR ' + ${COSTING_OBJ.sightSeeingTotalMarkup*100/118} "> </td>
                <th style="">Tax Amount </th><td th:text="'INR ' + ${COSTING_OBJ.sightSeeingTotalMarkup - ( COSTING_OBJ.sightSeeingTotalMarkup*100/118)} "> </td>
            </tr>
            <tr>
                <th style="" colspan="3">Total Sight Seeing Cost </th><td colspan="3" th:text="'INR ' + ${COSTING_OBJ.sightSeeingTotalCost + COSTING_OBJ.sightSeeingTotalMarkup} "> </td>
            </tr>
        </table>
        <br/><br/>
    </span>





    <span th:if="${manualConfigurationEntity.transfersSeperateCostDisplay} and ${not manualConfigurationEntity.transfersGstBreakup}">
        <div class="section-title"><p>Transfers Cost</p></div>
<table class="services" style="page-break-inside: avoid">
            <tr style="page-break-inside: avoid">
                <th style="width:50%;">Transfers Cost </th>
                <td th:text="'INR ' + ${COSTING_OBJ.transfersTotalCost + COSTING_OBJ.transfersTotalMarkup} "> </td>
            </tr>
        </table>
        <br/><br/>
    </span>

    <span th:if="${manualConfigurationEntity.transfersSeperateCostDisplay} and ${manualConfigurationEntity.transfersGstBreakup}">
        <div class="section-title"><p>Transfers Cost</p></div>
<table class="services" style="page-break-inside: avoid">
            <tr style="page-break-inside: avoid">
                <th style="">Transfers Cost </th><td th:text="'INR ' + ${COSTING_OBJ.transfersTotalCost} "> </td>
                <th style="">Taxable Value </th><td th:text="'INR ' + ${COSTING_OBJ.transfersTotalMarkup*100/118} "> </td>
                <th style="">Tax Amount </th><td th:text="'INR ' + ${COSTING_OBJ.transfersTotalMarkup - ( COSTING_OBJ.transfersTotalMarkup*100/118)} "> </td>
            </tr>
            <tr>
                <th style="" colspan="3">Total Transfers Cost </th><td colspan="3" th:text="'INR ' + ${COSTING_OBJ.transfersTotalCost + COSTING_OBJ.transfersTotalMarkup} "> </td>
            </tr>
        </table>
        <br/><br/>
    </span>







    <span th:if="${manualConfigurationEntity.packageSeperateCostDisplay} and ${not manualConfigurationEntity.packageGstBreakup}">
        <div class="section-title"><p>Package Cost</p></div>
<table class="services" style="page-break-inside: avoid">
            <tr style="page-break-inside: avoid">
                <th style="width:50%;">Package Cost </th>
                <td th:text="'INR ' + ${COSTING_OBJ.tourPackageTotalCost + COSTING_OBJ.tourPackageTotalMarkup} "> </td>
            </tr>
        </table>
        <br/><br/>
    </span>

    <span th:if="${manualConfigurationEntity.packageSeperateCostDisplay} and ${manualConfigurationEntity.packageGstBreakup}">
        <div class="section-title"><p>Package Cost</p></div>
<table class="services" style="page-break-inside: avoid">
            <tr style="page-break-inside: avoid">
                <th style="">Package Cost </th><td th:text="'INR ' + ${COSTING_OBJ.tourPackageTotalCost} "> </td>
                <th style="">Taxable Value </th><td th:text="'INR ' + ${COSTING_OBJ.tourPackageTotalMarkup*100/118} "> </td>
                <th style="">Tax Amount </th><td th:text="'INR ' + ${COSTING_OBJ.tourPackageTotalMarkup - ( COSTING_OBJ.tourPackageTotalMarkup*100/118)} "> </td>
            </tr>
            <tr>
                <th style="" colspan="3">Package Cost </th><td colspan="3" th:text="'INR ' + ${COSTING_OBJ.tourPackageTotalCost + COSTING_OBJ.tourPackageTotalMarkup} "> </td>
            </tr>
        </table>
        <br/><br/>
    </span>

    <span th:if="${manualConfigurationEntity.visaSeperateCostDisplay} and ${not manualConfigurationEntity.visaGstBreakup}">
        <div class="section-title"><p>Visa Cost</p></div>
<table class="services" style="page-break-inside: avoid">
            <tr style="page-break-inside: avoid">
                <th style="width:50%;">Visa Cost </th>
                <td th:text="'INR ' + ${COSTING_OBJ.visaTotalCost + COSTING_OBJ.visaTotalMarkup} "> </td>
            </tr>
        </table>
        <br/><br/>
    </span>

    <span th:if="${manualConfigurationEntity.visaSeperateCostDisplay} and ${manualConfigurationEntity.visaGstBreakup}">
        <div class="section-title"><p>Visa Cost</p></div>
<table class="services" style="page-break-inside: avoid">
            <tr style="page-break-inside: avoid">
                <th style="">Visa Cost </th><td th:text="'INR ' + ${COSTING_OBJ.visaTotalCost} "> </td>
                <th style="">Taxable Value </th><td th:text="'INR ' + ${COSTING_OBJ.visaTotalMarkup*100/118} "> </td>
                <th style="">Tax Amount </th><td th:text="'INR ' + ${COSTING_OBJ.visaTotalMarkup - ( COSTING_OBJ.visaTotalMarkup*100/118)} "> </td>
            </tr>
            <tr>
                <th style="" colspan="3">Visa Cost </th><td colspan="3" th:text="'INR ' + ${COSTING_OBJ.visaTotalCost + COSTING_OBJ.visaTotalMarkup} "> </td>
            </tr>
        </table>
        <br/><br/>
    </span>


    <span th:if="${manualConfigurationEntity.insuranceSeperateCostDisplay} and ${not manualConfigurationEntity.insuranceGstBreakup}">
        <div class="section-title"><p>Insurance Cost</p></div>
<table class="services" style="page-break-inside: avoid">
            <tr style="page-break-inside: avoid">
                <th style="width:50%;">Insurance Cost </th>
                <td th:text="'INR ' + ${COSTING_OBJ.insuranceTotalCost + COSTING_OBJ.insuranceTotalMarkup} "> </td>
            </tr>
        </table>
        <br/><br/>
    </span>

    <span th:if="${manualConfigurationEntity.insuranceSeperateCostDisplay} and ${manualConfigurationEntity.insuranceGstBreakup}">
        <div class="section-title"><p>Insurance Cost</p></div>
<table class="services" style="page-break-inside: avoid">
            <tr style="page-break-inside: avoid">
                <th style="">Insurance Cost </th><td th:text="'INR ' + ${COSTING_OBJ.insuranceTotalCost} "> </td>
                <th style="">Taxable Value </th><td th:text="'INR ' + ${COSTING_OBJ.insuranceTotalMarkup*100/118} "> </td>
                <th style="">Tax Amount </th><td th:text="'INR ' + ${COSTING_OBJ.insuranceTotalMarkup - ( COSTING_OBJ.insuranceTotalMarkup*100/118)} "> </td>
            </tr>
            <tr>
                <th style="" colspan="3">Insurance Cost </th><td colspan="3" th:text="'INR ' + ${COSTING_OBJ.insuranceTotalCost + COSTING_OBJ.insuranceTotalMarkup} "> </td>
            </tr>
        </table>
        <br/><br/>
    </span>

    <span th:if="${manualConfigurationEntity.otherSeperateCostDisplay} and ${not manualConfigurationEntity.otherGstBreakup}">
        <div class="section-title"><p>Other Cost</p></div>
<table class="services" style="page-break-inside: avoid">
            <tr style="page-break-inside: avoid">
                <th style="width:50%;">Other Cost </th>
                <td th:text="'INR ' + ${COSTING_OBJ.otherTotalCost + COSTING_OBJ.otherTotalMarkup} "> </td>
            </tr>
        </table>
        <br/><br/>
    </span>

    <span th:if="${manualConfigurationEntity.otherSeperateCostDisplay} and ${manualConfigurationEntity.otherGstBreakup}">
        <div class="section-title"><p>Other Cost</p></div>
<table class="services" style="page-break-inside: avoid">
            <tr style="page-break-inside: avoid">
                <th style="">Other Cost </th><td th:text="'INR ' + ${COSTING_OBJ.otherTotalCost} "> </td>
                <th style="">Taxable Value </th><td th:text="'INR ' + ${COSTING_OBJ.otherTotalMarkup*100/118} "> </td>
                <th style="">Tax Amount </th><td th:text="'INR ' + ${COSTING_OBJ.otherTotalMarkup - ( COSTING_OBJ.otherTotalMarkup*100/118)} "> </td>
            </tr>
            <tr>
                <th style="" colspan="3">Other Cost </th><td colspan="3" th:text="'INR ' + ${COSTING_OBJ.otherTotalCost + COSTING_OBJ.otherTotalMarkup} "> </td>
            </tr>
        </table>
        <br/><br/>
    </span>

    <span th:if="${#maps.size(COSTING_OBJ.hotelOptionsWithCostAndMarkup)} > 1">
    <table class="services" style="page-break-inside: avoid">
        <th:block th:each="costObj : ${COSTING_OBJ.hotelOptionsWithCostAndMarkup}" >
        <tr style="page-break-inside: avoid">
            <th style="width:50%;">Total Cost with Hotel Option [[${costObj.key}]]</th>
            <td th:text="'INR ' + ${costObj.value + COSTING_OBJ.grandTotalWithoutHotel} "> </td>
        </tr>
    </th:block>
    </table>
  </span>
  <span th:if="${#maps.size(COSTING_OBJ.hotelOptionsWithCostAndMarkup)} <= 1">
    <table class="services" style="page-break-inside: avoid">
        <th:block th:each="costObj : ${COSTING_OBJ.hotelOptionsWithCostAndMarkup}" >
        <tr style="page-break-inside: avoid">
            <th style="width:50%;">Total Cost </th>
            <td th:text="'INR ' + ${costObj.value + COSTING_OBJ.grandTotalWithoutHotel} "> </td>
        </tr>
    </th:block>
    </table>
  </span>


</div>


